h1, h2 {
    text-align: center;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
tr, th, td {
    border: 2px solid #000000;
}
th, td {
    padding: 0.2em 0.2em 0.6em;
}
th {
    background-color: #abe1f8;
}
    th {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #abe1f8;
   }
table {
    border-collapse: collapse;
}
td {
    text-align:center;
}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: #0094ff;
    color: white;h1, h2 {
        text-align: center;
    }
    div.tabla {
        width: 40%;
        margin: 0 auto 0 auto;
    }
    tr, th, td {
        border: 2px solid #000000;
    }
    th, td {
        padding: 0.2em 0.2em 0.6em;
    }
    th {
        background-color: #abe1f8;
    }
        th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        background-color: #abe1f8;
       }
    table {
        border-collapse: collapse;
    }
    td {
        text-align:center;
    }
    .floor {
        vertical-align: top;
    }
    .even-row {
        background-color: #0094ff;
        color: white;h1, h2 {
    text-align: center;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
tr, th, td {
    border: 2px solid #000000;
}
th, td {
    padding: 0.2em 0.2em 0.6em;
}
th {
    background-color: #abe1f8;
}
    th {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #abe1f8;
   }
table {
    border-collapse: collapse;
}
td {
    text-align:center;
}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: #0094ff;
    color: white;h1, h2 {
    text-align: center;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
tr, th, td {
    border: 2px solid #000000;
}
th, td {
    padding: 0.2em 0.2em 0.6em;
}
th {
    background-color: #abe1f8;
}
    th {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #abe1f8;
   }
table {
    border-collapse: collapse;
}
td {
    text-align:center;
}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: #0094ff;
    color: white;h1, h2 {
    text-align: center;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
tr, th, td {
    border: 2px solid #000000;
}
th, td {
    padding: 0.2em 0.2em 0.6em;
}
th {
    background-color: #abe1f8;
}
    th {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #abe1f8;
   }
table {
    border-collapse: collapse;
}
td {
    text-align:center;
}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: #0094ff;
    color: white;h1, h2 {
    text-align: center;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
tr, th, td {
    border: 2px solid #000000;
}
th, td {
    padding: 0.2em 0.2em 0.6em;
}
th {
    background-color: #abe1f8;
}
    th {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #abe1f8;
   }
table {
    border-collapse: collapse;
}
td {
    text-align:center;
}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: #0094ff;
    color: white;